@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  background-color:#151515;
}

.main-page-outer{
  display:flex;
  flex-direction: row;
}

.hideClass{
  display: none;
}

.nav-outer{
  width:7rem;
}

.nav-bar{
  display:flex;
  align-items: center;
  height: 90vh;
  width: 100%;
  justify-content: center;
  transition: transform 0.3s ease;
}
.nav-elements{
  display:flex;
  flex-direction: column;
  gap:0.8rem;
  font-family: 'Poppins';
  font-size:0.8rem;
  margin-left:1rem;
}

.nav-elements > div > a{
  text-decoration: none;
  color:white;
}

.nav-elements:hover{
  cursor: pointer;
}

.home-detail{
  color:white;
  font-family:'Poppins';
  font-size:0.8rem;
  font-weight:600;
}

.menu-ribbon-div{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid white;
  height:2rem;
}
.menu-icon-div{
  display:flex;
  flex-direction:row;
  gap:0.7rem;
  color:white;
  align-items: center;
  font-family:'Poppins';
  margin-left:1rem;
}
.search-icon{
  display: flex;
  align-items: center;
  margin-right:3rem;
}
.canvas{
  flex: 1 1 0%;
  overflow-y: auto;
}

.canvas::-webkit-scrollbar{
  width: 0px;
  height: 0px;
  display: none;
}
.home-detail{
  font-family:'Open Sans';
}

.right {
  display: flex;
  flex-direction: column;
  color:white;
}

.content {
  flex-direction: column; 
  padding-top: 50px;
  margin-left:0.7rem;
  display:flex;
  flex-direction: row;
  
}
.content h1{
  margin: 10px 10px;
  width: 20rem;
  font-weight: 600;
  font-family:'Raleway';
  padding-top: "30px";
  margin-bottom:5rem;
}

.content h2, .content h6 {
  margin: 10px 0;
}

.img1-div{
  display:flex;
  width:fit-content;
  padding:1rem;
}

.img1-div > img{
  width:25rem;
  height:auto;
}

.login-comp{
  height: 95vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.login-form-div{
  display:flex;
  font-family: 'Roboto';
  justify-content: center;

}

.login-header > h1{
  color:white;
  font-weight:300;
  letter-spacing: 1px;
}

.login-link{
  color:whitesmoke;
  font-weight:300;
  font-size:0.9rem;
}

.login-link > a{
  margin:0.5rem;
  color:#c7bee2;
}

.login-input{
  display:flex;
  gap:1rem;
  margin-top:2rem;
}

.login-input > input, .email-input-div > input, .password-input-div > input{
  background-color: #3b364c;
  color:white;
  border:none;
  margin:0.5rem 0rem;
  height:2.2rem;
  border-radius:4px;
  padding-left: 1rem;
}
.login-input > input:focus, .email-input-div > input:focus, .password-input-div > input:focus{
  border:none;
  outline:none;
}

.email-input-div > input, .password-input-div > input{
  width: 360px;
}


.login-checkbox-div .MuiFormControlLabel-label{
  font-size:0.7rem;
  color:white;
}

#create-account-button{
  width: 100%;
  margin: 2rem 0rem;
  color:primary;
  text-transform: capitalize;
  font-weight:400;
}