@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  background-color:#151515;
}
.main-page-outer{
  display:flex;
  flex-direction: row;
}
.nav-bar{
  display:flex;
  align-items: center;
  height:90vh;
  width:7rem;
  justify-content: center;
  transition: transform 0.3s ease;
}
.nav-elements{
  display:flex;
  flex-direction: column;
  gap:0.8rem;
  color:white;
  font-family: 'Poppins';
  font-size:0.8rem;
  margin-left:1rem;
}

.nav-elements:hover{
  cursor: pointer;
}

.home-detail{
  color:white;
  font-family:'Poppins';
  font-size:0.8rem;
  font-weight:600;
}

.menu-ribbon-div{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid white;
  height:2rem;
}
.menu-icon-div{
  display:flex;
  flex-direction:row;
  gap:0.7rem;
  color:white;
  align-items: center;
  font-family:'Poppins';
  margin-left:1rem;
}
.search-icon{
  display: flex;
  align-items: center;
  margin-right:3rem;
}
.canvas{
  width:100%;
  overflow-y: auto;
}
.home-detail{
  font-family:'Open Sans';
}

.right {
  display: flex;
  flex-direction: column;
  color:white;
}

.content {
  flex-direction: column; 
  padding-top: 10%;
  margin-left:0.7rem;
  display:flex;
  flex-direction: row;
  
}
.content h1{
  margin: 10px 10px;
  width: 20rem;
  font-weight: 600;
  font-family:'Raleway';
  padding-top: "30px";
  margin-bottom:5rem;
}

.content h2, .content h6 {
  margin: 10px 0;
}

.img1-div{
  display:flex;
  width:fit-content;
  padding:1rem;
}

.img1-div > img{
  width:25rem;
  height:auto;
}